body {
    background: linear-gradient(hsla(0, 0%, 100%, 0.4) 0%, hsla(0, 0%, 100%, 0.4) 100%), url(/assets/images/background.jpg);

}
.intro-container, .results-container, .display-container {
background: white;
text-align: center;
align-content: center;  
margin: auto;
padding: 25px 50px;
border-radius: 8px;
max-width: 75%;
}

button {
    text-align: center;
    border-radius: 5px;
    font-size: 24px;
    background-color: purple;
    color: white;
 
}
h1 {
    color: white;
    background: purple;
    padding: 20px;
    font-family: 'Tangerine', cursive;
    font-size: 60px;
}
.thisSelection {
font-size: 20px;
font-family: 'Playfair Display', serif;
}