body {
    background-image: url(/assets/images/background.jpg);

}
.intro-container, .results-container, .question-container {
background: white;
opacity: .8;
text-align: center;
margin:100px 100px;
padding: 25px 50px;
border-radius: 8px
}
/* section {
    width: 800px;
    align-content: center
} */
#button {
    text-align: center;
 
}
h1 {
    color: white;
    background: purple;
    padding: 20px;
    font-family: 'Dynalight', cursive;
}
/* #questions {
    background: white;
opacity: .8;
text-align: center;
margin:100px 100px;
padding: 25px 50px;
border-radius: 8px;
} */ 
/* duplicate formatting, currently pulling from line 5 */

/* #time-remaining {
    color:white;
    text-align: center;
} */